.skill {
    display: flex;
    align-items: center;
    /* gap: 4rem; */
    justify-content: space-between;
    border-radius: .4rem;
    padding: 1rem;
    box-shadow: 0 4px 20px #06080b; 
  }
  
  .skill img {
    width: 12%;
  }

  .skill-content {
    color: #d4b059;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
  }
  
  .skill:hover .skill-content  {
    color: #ffffff;
  }

  .edit-buttons {
    display: flex;
    gap: 2rem
  }

  .edit-buttons {
    display: flex;
    gap: 2rem
    
  }


  .edit-skill{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .edit-skill input{
    margin-bottom: 1rem;
    border-radius: .875rem;
  }

  .skill button {
    margin-bottom: 1rem;
    border: 1px solid #d4b059;
    color: #ccc;
  }

  .skill button:hover {
    background-color: #d4b059;
    color: #06080b;
    font-weight: 600;
    border: #ccc;
  }

  .edit-skill{
    display: flex;
    flex-direction: column;
    width: 100%;
  }