.testimonials-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    margin-block: 4rem;
  }

  .testimonials-section h2 {
    color: #d4b059;
  }

  .testimonials-section button{
    margin: 0.5rem;
    border: 1px solid #d4b059;
  }

  .testimonials-section button:hover {
    border: 1px solid #ccc;
    background-color: #d4b059;
    color: #06080b;
    font-weight: 600;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 2rem;
  }
  
  .testimonial {
    border: 1px solid #d4b059;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  
  .edit-form input,
  .edit-form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
  }

  .edit-form textarea{
    resize: vertical;
  }
  
  .edit-form button {
    margin: 0.5rem;
    border: 1px solid #d4b059;
  }
  

  .edit-form button:hover {
    border: 1px solid #ccc;
    background-color: #d4b059;
    color: #06080b;
    font-weight: 600;
  }

  .testimonial-content button {
    margin: 0.5rem;
    border: 1px solid #d4b059;
  }
  
  .testimonial-content button:hover {
    border: 1px solid #ccc;
    background-color: #d4b059;
    color: #06080b;
    font-weight: 600;
  }

  .edit-form-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }