.testimonial {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .testimonial button {
    margin-bottom: 1rem;
    border: 1px solid #d4b059;
    color: #ccc;
  }
  
  .testimonial button:hover {
    background-color: #d4b059;
    color: #06080b;
    font-weight: 600;
  }
  